/* CASE STUDY ELEMENTS */
p {
    margin-bottom: 30px;
    text-align: justify;
}

img {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, .5);
}

h3 {
    line-height: normal;
}

ul {
    color: white;
    text-align: justify;
}

li {
    margin-bottom: 1rem;
}

.external-links {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

@media screen and (max-width: 800px) {
    .external-links {
        flex-direction: column;
    }
}