/* GALLERY ELEMENTS */
.gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2px;
}

.column {
    flex: 28%;
    max-width: 28%;
    padding: 0 2%;
}

.column img {
    vertical-align: middle;
    width: 100%;
}

.project {
    margin-top: 20px;
    vertical-align: middle;
    align-items: center;
    text-align: right;
    padding: 10px;
    width: 100%;
    
    background-color: rgba(33, 33, 33, 0.75);
    border-bottom: 1px solid white;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.project-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 0px;
    margin: 0px;
    margin-top: 10px;
}

h2 {
    margin-right: 10px;
}

p {
    margin: 10px;
    margin-bottom: 30px;
    font-size: 14px;
}

/* RESPONSIVE */
@media screen and (max-width: 800px) {
    .column {
        flex: 45%;
        max-width: 45%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}