/* CAROUSELS ------------------------------------------ */
.content-carousel {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    min-width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    height: 500px;
}

.content-carousel > .button {
    margin: 40px 0px;
    padding: 30px;
}
.content-carousel > .button > span {
    font-size: 30px;
}
@media screen and (max-width: 1000px) {
    .content-carousel > .button { 
        display: none;
    }
}


/* -- CAROUSEL ITEMS -- */
.carousel-items { 
    padding: 10px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    overflow: hidden;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
@media screen and (max-width: 1000px) {
    .carousel-items { 
        overflow: scroll;
    }
}

.carousel-item {
    background-color: var(--tertiary);
    border-radius: var(--cornerRounding);
    box-sizing: border-box;

    min-width: 100%;
    max-width: 100%;
    margin: 10px;
    padding: 20px;

    display: flex;
    flex-direction: row;
}
.carousel-item > .carousel-image {
    min-width: 60%;
    height: 100%;
    flex-basis: 60%;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.carousel-item > .content-vertical { 
    margin-left: 20px;
    margin-bottom: 0px;
    width: 100%;
    justify-content: space-between;
}
.carousel-item > .content-vertical h3, .carousel-item > .content-vertical p { 
    color: var(--primary);
    margin: 10px 0px;
}
.carousel-item > .content-vertical h4 {
    margin: 0px;
    color: var(--secondary);
}
.carousel-item .content-horizontal {
    align-items: center;
}
.carousel-item .content-horizontal > * { 
    margin: 0px;
}
.carousel-item .sep {
    background: none;
    border-left: 1px solid var(--primary);
    flex-basis: 1px !important;
    flex-grow: 0 !important;
    margin: 0px 20px;
    height: 20px;
    box-sizing: border-box;
}

/* -- CAROUSEL TICKERS -- */
.carousel-tickers { 
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel-tickers > .ticker {
    background: var(--tertiary50);

    width: 10px;
    height: 10px;
    margin: 2px;
    padding: 0px;
    border-style: none;

    border-radius: 5px;

    transition: 0.2s ease-in-out;
}
.carousel-tickers > .ticker:hover {
    background: var(--tertiary75);
}
.carousel-tickers > .ticker.active {
    width: 30px;
    background: var(--tertiary);
}

/* -- MEDIA OVERRIDES -- */
@media only screen and (max-width: 1000px) {
    .content-carousel > .button {
        padding: 20px;
    }

    .carousel-item {
        flex-direction: column;
        justify-content: space-between;
    }
    .carousel-item > .carousel-image {
        width: 100%;
        max-height: 50%;
    }
    .carousel-item .content-vertical {
        flex-grow: 1;
        margin: 0px;
    }
}



/* INSTAGRAM ------------------------------------------ */
/* INSTAGRAM EMPTY */
.instagram-empty {
    background-color: var(--tertiary25);
    border-radius: var(--cornerRounding);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: calc(33.33% - 20px);
    min-width: 200px;
    margin: 10px;
}
.instagram-empty > span {
    color: var(--tertiary50);
    font-size: 40px;
    
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.instagram-empty:after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/* INSTAGRAM POSTS */
.content-instagram { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.instagram-post {
    background-image: url('../content/media/template_header_image.png');
    background-size: cover;
    background-position: center;

    width: calc(33.33% - 20px);
    flex-grow: 1;
    min-width: 200px;
    margin: 10px;

    text-decoration: none;
    border-radius: var(--cornerRounding);

    display: flex;
    align-items: stretch;
    justify-content: stretch;
    overflow: hidden;
    transition-duration: var(--transitionDuration);
}
.instagram-post:after {
    content: '';
    display: block;
    padding-bottom: 100%;
}
.instagram-post:hover {
    box-shadow: 0px 0px 40px rgba(0,0,0,0.25);

    transform: scale(1.05);
    -webkit-transform: scale(1.05);
}
.instagram-post:hover > .gradient-overlay {
    display: none;
}
.instagram-post:hover > .info-overlay {
    display: flex;
}

.instagram-post > .gradient-overlay {
    margin-top: 50%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,var(--tertiary50) 100%);

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: stretch;

}
.instagram-post .content-horizontal { 
    align-items: center;
    justify-content: flex-start;
}
.instagram-post .content-horizontal > * { 
    color: var(--primary);
    flex-basis: auto !important;
    flex-grow: 0 !important;

    margin: 10px;
    margin-right: 0px;
}

.instagram-post > .info-overlay { 
    display: flex;
    flex-direction: column;

    background-color: var(--tertiary75);
    width: 100%;
    height: 100%;

    padding: 10px;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: none;
}
.instagram-post > .info-overlay > *:not(.content-horizontal) { 
    color: var(--primary);
    margin: 10px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
            line-clamp: 5; 
    -webkit-box-orient: vertical;
}
@media only screen and (max-width: 1000px) {
    .instagram-post > .info-overlay > *:not(.content-horizontal) { 
        -webkit-line-clamp: 3;
                line-clamp: 3;
    }
}
@media screen and (max-width: 500px) {
    .instagram-post { 
        width: 100%;
    }
}


/* GRID ITEMS ----------------------------------------- */
.grid-item { 
    box-sizing: border-box;
    background-color: var(--tertiary);
    padding: 0px;

    min-height: 400px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    text-decoration: none;

    cursor: pointer;
}
.grid-item:hover { 
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
}
.grid-item img { 
    width: 100%;
    height: auto;
}
.grid-item * { 
    color: var(--primary);
    margin: 0px;
}
.grid-content { 
    flex-grow: 1;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}
.grid-content h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;

    margin-bottom: 10px;
}
.grid-content p { 
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
}