/* LEGAL ELEMENTS */

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    margin: 40px;
}

.links > a {
    text-align: center;
}

h2 {
    text-align: left;
    text-transform: uppercase;
}

ol {
    text-align: justify;
}

ol > li {
    margin-bottom: 40px;
}

.central-text > p {
    text-align: center;
}